.container {
  display: flex;
  align-items: center;
}

.input {
  max-width: 220px;
  border-radius: 2px 0 0 2px;
  border: 1px solid var(--gray);
  border-right: 0;
}

.input:focus {
  outline: none;
}

.button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 9px 20px 10px 20px;
}
