:root {
  --white: #fff;
  --light-gray: #f5f5f5;
  --dark-gray: #333;
  --green: #00ab35;
  --blue: #367ffc;
  --light-blue: #3ca2b7;
  --red: #da3849;
  --gray: #dbe0e5;
  --lighter-gray: #f8f9fa;

  --form-label-max-width: 200px;
  --form-field-min-width: 300px;
  --input-padding: 10px;
}

body {
  margin: 0;
  color: var(--dark-gray);
  font: 16px sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
